.App{
    .form{
        display: flex;
        flex-direction: column;

        label{
            width: 10em;
            margin-top: 1em;
        }
        button{
            width: 5em;
            margin-top: 2em;
        }
    }
}